# Test Case Module Cashier

In [1]:
import cashier as c

## Test Case 1: Menambahkan Item

##### Jika input tipe data dan nilai data sudah sesuai

In [2]:
trnsct_123 = c.Transaction()

trnsct_123.add_item("Ayam Goreng", 2, 20_000)
trnsct_123.add_item("Pasta Gigi", 3, 15_000)

Item Ayam Goreng sejumlah 2 seharga Rp20000 per item berhasil ditambahkan.
Item Pasta Gigi sejumlah 3 seharga Rp15000 per item berhasil ditambahkan.

##### Jika terdapat kesalahan input tipe data

In [3]:
trnsct_123.add_item("Sabun", "3", 15_000)

Tidak dapat menambahkan item Sabun. Jumlah item harus berupa angka.

##### Jika terdapat kesalahan input nilai data (nilai negatif)

In [4]:
trnsct_123.add_item("Sabun", 3, -15_000)

Tidak dapat menambahkan item Sabun. Harga item harus bernilai positif.

## Test Case 2: Menghapus Item

##### Jika nama item ada dalam daftar pesanan

In [5]:
trnsct_123.delete_item("Pasta Gigi")

Pasta Gigi berhasil dihapus dari daftar pesanan.

Berikut adalah daftar pesanan Anda:

Item           Jumlah Item    Harga per item    Total Harga
-----------  -------------  ----------------  -------------
Ayam Goreng              2             20000          40000

##### Jika nama item tidak ada dalam daftar pesanan

In [6]:
trnsct_123.delete_item("Susu")

Susu tidak terdapat dalam daftar pesanan.

## Test Case 3: Mereset Transaksi

In [7]:
trnsct_123.reset_transaction()

Daftar pesanan berhasil dikosongkan.

## Test Case 4: Menghitung Total Belanja dan Diskon

##### Jika tidak terdapat item dalam daftar pesanan/daftar pesanan kosong

In [8]:
trnsct_123.total_price()

Anda belum memasukkan item ke daftar pesanan.

Total belanja Anda sebesar Rp0.

##### Jika belum memenuhi persyaratan minimal belanja

In [9]:
trnsct_123.add_item("Ayam Goreng", 2, 20_000)
trnsct_123.add_item("Pasta Gigi", 3, 15_000)

Item Ayam Goreng sejumlah 2 seharga Rp20000 per item berhasil ditambahkan.
Item Pasta Gigi sejumlah 3 seharga Rp15000 per item berhasil ditambahkan.

In [10]:
trnsct_123.total_price()

Item           Jumlah Item    Harga per item    Total Harga
-----------  -------------  ----------------  -------------
Ayam Goreng              2             20000          40000
Pasta Gigi               3             15000          45000

Total belanja Anda sebesar Rp85000.

##### Jika telah memenuhi persyaratan minimal belanja

In [11]:
trnsct_123.add_item("Ayam Goreng", 2, 20_000)
trnsct_123.add_item("Pasta Gigi", 3, 15_000)
trnsct_123.add_item("Kopi", 5, 45_000)

Item Ayam Goreng sejumlah 2 seharga Rp20000 per item berhasil ditambahkan.
Item Pasta Gigi sejumlah 3 seharga Rp15000 per item berhasil ditambahkan.
Item Kopi sejumlah 5 seharga Rp45000 per item berhasil ditambahkan.

In [12]:
trnsct_123.total_price()

Item           Jumlah Item    Harga per item    Total Harga
-----------  -------------  ----------------  -------------
Ayam Goreng              2             20000          40000
Pasta Gigi               3             15000          45000
Kopi                     5             45000         225000

Total belanja Anda sebesar Rp310000.
Anda mendapatkan diskon sebesar 8.0 %.
Anda hanya perlu membayar sebesar Rp285200.0.

## Test Case 5: Mengubah Nama Item

In [13]:
trnsct_123.update_item_name("Pasta Gigi", "Sikat Gigi")

Item Pasta Gigi berhasil diubah menjadi Sikat Gigi.

Berikut adalah daftar pesanan Anda:

Item           Jumlah Item    Harga per item    Total Harga
-----------  -------------  ----------------  -------------
Ayam Goreng              2             20000          40000
Kopi                     5             45000         225000
Sikat Gigi               3             15000          45000

## Test Case 6: Mengubah Jumlah Item

##### Jika terdapat kesalahan input tipe data

In [14]:
trnsct_123.update_item_qty("Kopi", "6")

Tidak dapat mengubah jumlah item Kopi. Jumlah item harus berupa angka.

##### Jika terdapat kesalahan input nilai data (nilai negatif)

In [15]:
trnsct_123.update_item_qty("Kopi", -6)

Tidak dapat mengubah jumlah item Kopi. Jumlah item harus bernilai positif.

##### Jika input tipe data dan nilai data sudah sesuai

In [16]:
trnsct_123.update_item_qty("Kopi", 6)

Jumlah item Kopi berhasil diubah menjadi 6 item.

Berikut adalah daftar pesanan Anda:

Item           Jumlah Item    Harga per item    Total Harga
-----------  -------------  ----------------  -------------
Ayam Goreng              2             20000          40000
Kopi                     6             45000         270000
Sikat Gigi               3             15000          45000

## Test Case 7: Mengubah harga item

##### Jika terdapat kesalahan input tipe data

In [17]:
trnsct_123.update_item_price("Kopi", "40000")

Tidak dapat mengubah harga item Kopi. Harga item harus berupa angka.

##### Jika terdapat kesalahan input nilai data (nilai negatif)

In [18]:
trnsct_123.update_item_price("Kopi", -40000)

Tidak dapat mengubah harga item Kopi. Harga item harus bernilai positif.

##### Jika input tipe data dan nilai data sudah sesuai

In [19]:
trnsct_123.update_item_price("Kopi", 40000)

Harga item Kopi berhasil diubah menjadi Rp40000

Berikut adalah daftar pesanan Anda:

Item           Jumlah Item    Harga per item    Total Harga
-----------  -------------  ----------------  -------------
Ayam Goreng              2             20000          40000
Kopi                     6             40000         270000
Sikat Gigi               3             15000          45000

# Test Case 8: Check Order

##### Jika terdapat item dalam daftar pesanan dan tipe data sudah sesuai

In [20]:
trnsct_123.check_order()

Berikut adalah daftar pesanan Anda:

Item           Jumlah Item    Harga per item    Total Harga
-----------  -------------  ----------------  -------------
Ayam Goreng              2             20000          40000
Kopi                     6             40000         270000
Sikat Gigi               3             15000          45000

##### Jika tidak terdapat item dalam daftar pesanan/daftar pesanan kosong

In [21]:
trnsct_123.reset_transaction()

Daftar pesanan berhasil dikosongkan.

In [22]:
trnsct_123.check_order()

Anda belum memasukkan item ke daftar pesanan.